<% layout('layouts/boilerplate') %>

<img class="w-full mx-auto" src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/01/imagen-principal-1.png" alt="">

<style>
    .image-container:hover .hover-image {
  display: block; /* Muestra la imagen al hacer hover */
}
    .image-container:hover .original-image {
  display: none; /* Oculta la imagen al hacer hover */
}
</style>

<div class="max-w-screen-xl flex-wrap items-end justify-between mx-auto mt-32 mb-20 p-4">
<h2 class="font-extrabold text-5xl mb-20 text-center">Trámites y Servicios</h2>
<div class="container flex justify-center">
    <a href="http://119.8.76.209:8080/Boletas/com.boleta.homeipv">
    <div class=" image-container text-center mr-10 ">
            <img src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/02/imprimir-1.png" alt="Imagen original" class="original-image mx-auto w-16 mb-3">
            <img src="https://res.cloudinary.com/dncvxpgj1/image/upload/v1714608206/IPV/znowdejsvnz9dowisbxs.png" alt="Imagen al hacer hover" class="hover-image mx-auto w-16 mb-3 hidden">
<h3 class="font-extrabold text-2xl mb-3 text-center">Imprimir Boleta </h3>
<p class="hidden md:block">Descargue e Imprima<br>
    su Boleta mensual</p>
    </div>
</a>
<a href="https://ipvtuc.gob.ar/inscripcion/registracion.php">
    <div class=" image-container text-center md:ml-10 ">
            <img src="https://res.cloudinary.com/dncvxpgj1/image/upload/v1714608205/IPV/zgxgvnbz0gqrgvowkaer.png" alt="Imagen original" class="original-image mx-auto w-16 mb-3">
            <img src="https://res.cloudinary.com/dncvxpgj1/image/upload/v1714608206/IPV/hfmf82lfuwlj4mbgi3n2.png" alt="Imagen al hacer hover" class="hover-image mx-auto w-16 mb-3 hidden">
<h3 class="font-extrabold text-2xl mb-3 text-center">Inscripción</h3>
<p  class="hidden md:block">Inscripción y Actualización<br>
    de Datos</p>
    </div>
</a>
</div>

<h5 class=" text-5xl font-bold tracking-tight mt-32 text-gray-900">Noticias</h5>
<div id="carousel" class="relative">
  <% noticias.slice(0, 4).reverse().forEach((noticia, index) => { %>
    <div class="flex-wrap items-end  justify-between mx-auto mt-20 mb-28 md:px-12 <%= index !== 0 ? 'hidden' : '' %>">
      <div class=" md:flex bg-gray-300">
        <img class=" md:w-2/3" src="<%= noticia.coverimage[0].url %>" alt="" />
        <div class="md:w-80">
          <h2 class="hidden md:block ml-12 mt-5 font-semibold">Noticia principal</h2>
          <h2 class="ml-12 mt-5 md:mb-24 font-light"><%= noticia.date.toLocaleDateString() %></h2>
          <div class="flex">
            <img class="w-5 h-5 md:w-6 md:h-6 ml-12" src="https://res.cloudinary.com/dncvxpgj1/image/upload/w_200/v1714390010/IPV/ayblnmi0v8xb8dfidajz.png" alt="">
            <% if(noticia.videos) {%>
              <img class="w-5 h-5 md:w-6 md:h-6 ml-2" src="https://res.cloudinary.com/dncvxpgj1/image/upload/w_200/v1714390010/IPV/cudtnnibjvxzi1nppoed.png" alt="">
              <% } %>
          </div>
          <h2 class="ml-12 mt-5 mb-5 text-2xl font-bold"><%= noticia.title %></h2>
          <p class="ml-12 text-xl whitespace-pre-wrap "><%= noticia.subtitle %></p>
          <div class="flex place-content-around">
          <a href="/noticias/<%= noticia._id %>" class="inline-flex font-black text-xl mt-8 items-center md:px-20 px-10 whitespace-nowrap py-5 mb-5 md:ml-12 bg-[#FFB81A]  hover:bg-[#ff891a]">
            Visitar Noticia
          </a>
        </div>
        </div>
      </div>
    </div>
    <%});  %>
  
    <button id="prev" type="button" class="absolute top-0  flex items-center justify-center h-full cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-12 h-12 rounded-full  bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-8 h-8 dark:text-gray-800 hover:text-[#FFB81A] rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only ">Previous</span>
      </span>
  </button>
  <button id="next" type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full  cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-12 h-12 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-8 h-8 dark:text-gray-800 hover:text-[#FFB81A] rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>


<script>
  let currentSlide = 0;
  const slides = document.querySelectorAll('#carousel > div');

  document.getElementById('prev').addEventListener('click', () => {
    slides[currentSlide].classList.add('hidden');
    currentSlide = (currentSlide - 1 + slides.length) % slides.length;
    slides[currentSlide].classList.remove('hidden');
  });

  document.getElementById('next').addEventListener('click', () => {
    slides[currentSlide].classList.add('hidden');
    currentSlide = (currentSlide + 1) % slides.length;
    slides[currentSlide].classList.remove('hidden');
  });
</script>
  <h5 class="mb-10 text-5xl font-bold tracking-tight text-gray-900">Programas Especiales</h5>

</div>
<div class="md:flex mb-24">
    <div  class="md:w-1/2">
<img  src="https://img.lagaceta.com.ar/fotos/notas/2017/05/22/730743_20170522134924.jpg?_ga=2.248161607.1129732.1495557899-1522169883.1476926707" alt="">
<div class="bg-[#ffce63] pt-5 pb-11 pr-14 ">
    <h2 class="font-bold text-xl md:ml-52 ml-14">PROMAT</h2>
    <p class="ml-52 mt-2">El martes 7 de noviembre se despidió quien venía siendo 
        hasta el momento la Sub-Interventora del Instituto.</p>
</div>
    </div>
    <div class="md:w-1/2">
<img  src="https://img.lagaceta.com.ar/fotos/notas/2017/05/22/730743_20170522134924.jpg?_ga=2.248161607.1129732.1495557899-1522169883.1476926707" alt="">
<div class="bg-[#FFB81A] pt-5 pb-11 pr-14 ">
    <h2 class="font-bold text-xl md:ml-52 ml-14">PROMEBA</h2>
    <p class="ml-52 mt-2">El martes 7 de noviembre se despidió quien venía siendo 
        hasta el momento la Sub-Interventora del Instituto.</p>
</div>
</div>
</div>
<div class="max-w-screen-xl mx-auto mt-32 mb-20 p-4">
<h5 class=" text-5xl font-bold tracking-tight text-gray-900">Obras</h5>
</div>

<div class="md:flex md:px-[20.5rem] place-content-around items-center  bg-[#FFB81A] md:h-2/4 ">
<img class=" md:w-[25rem]" src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/02/IMAGENES-ABAJO.png" alt="">
<img class=" md:w-[25rem]" src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/02/IMAGENES-ABAJO-1.png" alt="">
<img class="md:w-[25rem]" src="https://ipvtuc.gob.ar/web/wp-content/uploads/2024/02/IMAGENES-ABAJO-2.png" alt="">
</div>
<div class="flex bg-[#ffce63] md:px-[20.5rem] place-content-around md:place-content-end flex-row-reverse h-32 mb-20"> 
  <a href="" class="inline-flex font-black text-xl mt-10 items-center px-12  mb-10  bg-white hover:bg-[#FFB81A]">
    ENTRAR
  </a>
</div>
